<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h2>Assign a Delegate:</h2>

        <div class="error" th:text="${error}"></div>

        <form action="#" th:action="@{/delegates/assign}" method="post">

          <label for="userid">Current User:</label><br>
          <select id="userid" name="userid" required>
            <option value="">Select a User</option>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
          </select><br><br>

          <label for="themeid">Theme:</label><br>
          <select id="themeid" name="themeid" required>
            <option value="">Select a theme</option>
            <option th:each="theme : ${themes}" th:value="${theme.id}" th:text="${theme.name}"></option>
          </select><br><br>

          <label for="delegateid">Delegate:</label><br>
          <select id="delegateid" name="delegateid" required>
            <option value="">Select a delegate</option>
            <option th:each="delegate : ${delegates}" th:value="${delegate.id}" th:text="${delegate.name}"></option>
          </select><br><br>

          <input type="submit" value="Assign">

        </form>

    </section>
</body>

</html>
