<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Democracia2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        #container {
            margin: auto;
            max-width: 500px;
        }

        th {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container">
        <!--/* Standard layout can be mixed with Layout Dialect */-->
        <div layout:fragment="header">
            <h1>Democracia 2.0</h1>

            <ol>
                <li><a th:href="@{/projects}">Projects</a></li>
                <li><a th:href="@{/polls}">Polls</a></li>
                <li><a th:href="@{/project/new}">Present Project</a></li>
                <li><a th:href="@{/delegates/assign}">Assign Delegate</a></li>
            </ol>
        </div>
    </div>
</body>

</html>