<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h2>Projects List:</h2>

        <div th:if="${error != null}" class="error" th:text="${error}"></div>

        <table>
            <thead>
                <tr>
                    <th>title</th>
                    <th>view</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.title}"></td>
                    <td>
                        <a th:href="@{/projects/} + ${project.id}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>
